.element__content {
  max-width: 100%;
}

.element__content .image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.element__content .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.element__content .title button {
  height: auto;
  margin-left: 10px;
}

.image__actions {
  width: 100%;
  text-align: center;
}

.element__content .image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.element__content img {
  max-height: 200px;
  max-width: 300px;
}

.position__line {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
}

.position__line .image__actions {
  margin-left: 10px;
}

.position__line p {
  display: block;
  padding-right: 10px;
  width: 80px;
}

.position__line .position__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.position__line .position__wrapper span {
  padding-right: 5px;
}

.position__line form {
  display: flex;
  flex-direction: row;
}