.debug {
  width: 100%;
  position: relative;
}

.debug__scenes,
.debug__input {
  position: relative;
  margin-bottom: 10px;
}

.debug__scenes #copy {
  position: absolute;
  top: 10px;
  right: 10px;
}

.debug__input #fix {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.debug__scenes textarea,
.debug__input textarea {
  background-color: lightpink;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 200px;
  resize: none;
  border: none;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}
