html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  font-size: 0.875rem;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
  box-sizing: border-box;
}

.base {
  position: relative;
  width: 100%;
  overflow-x: scroll;
}

.Collapsible {
  border-radius: 6px;
}

.Collapsible__trigger {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px;
  border: 1px solid #d3dce0;
  margin-top: 5px;
  transition: background-color 0.35s ease-out;

  border-radius: 6px;
}

.collapsible__asset {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.collapsible__asset > svg {
  width: 100%;
  height: 100%;
}

.collapsible__asset > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 4px;
  background-color: #dadada;
}

.Collapsible__trigger:hover {
  background-color: #e7ebee;
}

.Collapsible__trigger > h4 {
  margin: 0;
}

.Collapsible__trigger::after {
  padding-left: 10px;
  position: absolute;
  right: 10px;
}

.Collapsible__trigger.closed::after,
.collapsible-t::after {
  content: '►';
}

.Collapsible__trigger.is-open {
  background-color: #f7f9fa;
  border-radius: 6px 6px 0px 0px;
}
.Collapsible__contentInner {
  border-top: unset;
}
.Collapsible__contentOuter,
.Collapsible__contentInner {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.Collapsible__trigger.is-open::after,
.collapsible-t__opened::after {
  content: '▼';
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #d0d0d0;
}

.scene {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid #d3dce0;
  border-radius: 8px;
  overflow: scroll;
  background-color: white;
}

.scene .scene__wrapper {
  position: relative;
  width: 100%;
  padding: 10px;
}
.scene .scene__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.scene .scene__actions {
  position: absolute;
  top: 5px;
  right: 5px;
}

.scene__handle {
  text-align: center;
  background-color: lightgray;
  width: 30px;
  padding: 3px;
  cursor: grab;

  border-right: 1px solid gray;

  align-self: normal;
  transition: all 0.75s ease;

  display: flex;
  align-items: center;
}

.scene__handle span {
  width: 100%;
  text-align: center;
}

.scene__handle.disabled {
  opacity: 0.2;
  cursor: default;
}

.scene__idx {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

.scene__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.add--image {
  margin-top: 10px;
}

button.hide {
  opacity: 0.4;
}

button.hide:hover {
  opacity: 1;
}

.control {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0 5px;
}

.inline {
  display: inline-block;
}

.line {
  width: 100%;
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
}

.line-justified {
  justify-content: space-between;
}

.p-4 {
  padding: 10px;
}

.py-4 {
  padding: 10px 0;
}

h4,
h5 {
  margin-bottom: 8px;
}

.m-0 {
  margin: 0;
}

.toggle-button button {
  height: 100%;
}
