html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.base {
  position: relative;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.debug {
  width: 100%;
  position: relative;
}

.debug__scenes,
.debug__input {
  position: relative;
  margin-bottom: 10px;
}

.debug__scenes #copy {
  position: absolute;
  top: 10px;
  right: 10px;
}

.debug__input #fix {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.debug__scenes textarea,
.debug__input textarea {
  background-color: lightpink;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 200px;
  resize: none;
  border: none;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

.Collapsible__trigger {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  position: relative;
  padding: 5px;
  border: 1px solid #d3dce0;
  margin-top: 5px;
}

.collapsible__asset {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.collapsible__asset > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 4px;
  background-color: #dadada;
}

.Collapsible__trigger:hover {
  background-color: #d3dce0;
}

.Collapsible__trigger::after {
  padding-left: 10px;
  position: absolute;
  right: 10px;
}

.collapsible-t::after {
  content: '►';
}

.collapsible-t__opened::after {
  content: '▼';
}

.scene {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid #d3dce0;
  border-radius: 2px;
  overflow: hidden;
}

.scene .scene__wrapper {
  position: relative;
  width: 100%;
  padding: 10px;
}
.scene .scene__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.scene .scene__actions {
  position: absolute;
  top: 5px;
  right: 5px;
}

.scene__handle {
  text-align: center;
  background-color: lightgray;
  width: 20px;
  padding: 5px;
  cursor: grab;

  border-right: 1px solid gray;

  align-self: normal;
  transition: all 0.75s ease;

  display: flex;
  align-items: center;
}

.scene__handle span {
  width: 100%;
  text-align: center;
}

.scene__handle.disabled {
  opacity: 0.2;
  cursor: default;
}

.scene__idx {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

.scene__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.add--image {
  margin-top: 10px;
}

button.hide {
  opacity: 0.4;
}

button.hide:hover {
  opacity: 1;
}

.control {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0 5px;
}

.inline {
  display: inline-block;
}
